<div class="form-inline">
	<%= form_for @actor do |f| %>
		<%= f.text_field :name, placeholder: "Title", class: "form-control" %>
		<%= f.submit "Add Actor", :class=>"btn btn-primary"%>
	<% end %>
</div>