<div>
	<div class="jumbotron center">
		<h1>ACTORS</h1>
		<%= render 'new' %>
	</div>

	<div id="actors" class="transitions-enabled">	
		<% @actors.each do |actor| %>
			<div class="box panel panel-default">
				<h3 class="center">
					<%= link_to "#{actor.name} (#{actor.roles.size})", actor_path(actor) %>
				</h3>
				<div class="panel-body">
					<%= image_tag actor.image.url(:medium) %>
				</div>
			</div>
		<% end %>
	</div>
	
	<div class="center">
		<%= will_paginate @actors, renderer: BootstrapPagination::Rails %>
	</div>

</div>