<div class="form-inline">
	<%= form_for @movie do |f| %>
		<%= f.text_field :title, placeholder: "Title", class: "form-control" %>
		<%= f.submit "Add Movie", :class=>"btn btn-primary"%>
	<% end %>
</div>
