<div>
	<div class="jumbotron center">
		<h1>MOVIES</h1>
		<%= render 'new' %>
	</div>
	<% @movies.each do |movie| %>
		<h3>
			<%= link_to "#{movie.title}", movie_path(movie)%>
		</h3>
	<% end %>
</div>