<div>

	<div class="jumbotron center">
		<h1>MOVIES</h1>
		<%= render 'new' %>
	</div>
	
	<div id="movies" class="transitions-enabled">	
		<% @movies.each do |movie| %>
			<div class="box panel panel-default">
				<h3 class="center">
					<%= link_to "#{movie.title} (#{movie.roles.size})", movie_path(movie) %>
				</h3>
				<div class="panel-body">
					<%= link_to image_tag(movie.image.url(:medium)), movie_path(movie) %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="center">
		<%= will_paginate @actors, renderer: BootstrapPagination::Rails %>
	</div>

</div>
