
<h1>About</h1>
<h4>This is a clone of IMDb created by Clayton Jordan. It was built with Ruby on Rails, Bootstrap, jQuery Masonry, and Paperclip.</h4>

<h3>
<%= mail_to "clayjchicago@gmail.com"%>
</h3>