<div class="jumbotron center">
	<h1>Welcome to MyIMDb!</h1>
	<p>
		<%="The database now has #{@movies.size} movies and #{@actors.size} actors in #{@roles.size} roles. Help us add more."%>
	</p>
	<p>
		<%= link_to "Movies", movies_path, class: 'btn btn-primary btn-lg' %>
		<%= link_to "Actors", actors_path, class: 'btn btn-primary btn-lg' %>
	</p>
</div>

